/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 6, 2019, 5:12:33 PM
    Author     : 1528110
*/


.navbar-btn{
    float:right;
}
body{
    background-repeat:no-repeat;
    background-size:cover;
}
.row{
    margin-top:10%;
}
.sidenav {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 7.5%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.7em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
span{
    margin-right:0px;
}
img{
    height:50px;
    width:120px;
    float:right;
}
h2{
    margin-left:30%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}
